<!DOCTYPE html>
<html ng-app="ngSlim">

<head>
    <title>ngSlim : Angular JS Implementation over Slim Framework 3</title>
    <!-- Bootstrap CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <base href="/">
</head>

<body class="container">

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" ui-sref="home">ngSlim</a>
      <ul class="nav">
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="well" ui-view></div>        
    </div>
  </div>         
  
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- UI-Router -->
  <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>  
  <!-- App Script -->
  <script src="js/main.js"></script>

</body>

</html>