@import "colors";

/* ==========================================================================
Global Styles
========================================================================== */

$tablet-width: 768px;
$desktop-width: 1024px;

html,
body  {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $Dark-primary;
    overflow-x: hidden;
    height: 100%; 
    padding: 0;
    margin: 0;

    background: url(../img/bg/003.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sep {
    max-width: 80px;
    border: 2px solid $Dark-primary;
    margin-top: 40px;
    margin-bottom: 40px;
}

.light-sep {
    max-width: 80px;
    border: 2px solid $Light-primary;
    margin-top: 40px;
    margin-bottom: 40px;
}

#container {
    padding: 40px 0;
}

canvas{
    position: fixed;
    z-index: 0;
}
section{
    z-index: 10;
}

textarea{
    color: $Dark-primary;
}


/* 

#container {
    display: table; 
    width: 100%;
    height: 100%;
    text-align: center;
}

#container > div {   
    display: table-row;   
    width: 100%;
}

#container > div > div {   
    display: table-cell;   
    width: 100%;    
}

#header > div {
    height:50px; 
}

#content > div {
    height: 100%;        
    padding-top: 9%;
}

#footer > div {
    height:50px; 
}
 */
.jumbotron{
    margin-top: 5%;
    background-color: transparent !important;
    .logo-main{
        width: 40%;
        margin-bottom: 7%;
    }
}

.text-content{
    width: 600px;
    margin: 0 auto;
    p {
        line-height: 2em;
    }
}